{% extends "design/responsivebase.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Our Premium Products</p>
    </div>
  
</div>
<div class="row text-center">
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/memory.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b> 4GB DDRA4 laptop memory</b></h5>
        <p class="card-text">(2400 PC4 192000 CL17)<br>Price: Rs.3,097.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/seagate.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>1TB Laptop HDD</b></h5>
        <p class="card-text">(6Gb/s 128MB Cache 2.5-Inch Internal Hard Drive )<br> Price: Rs.3,241.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/sensor.webp" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Optical liquid level sensor</b></h5>
        <p class="card-text">(OLS210D3SH Optical Liquid Level Sensor 15VDC)<br>Price: Rs.2,000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/prox.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>SATA SDD memory chip</b></h5>
        <p class="card-text">(M.2 SSD - CT1000P1SSD8)<br>Price: Rs.5500.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/dram.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Winbond Electronics - W9464G6KH-5 DRAM Chip<b></b></h5>
        <p class="card-text"> (W9464G6KH-5 Winbond - Memory)<br>Price: Rs.5000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/WD.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>WD Gold 2TB Internal SATA Hard Drive ( WD2005FBYZ )</b></h5>
        <p class="card-text">(Internal SATA Hard Drive (WD2005FBYZ))<br>Price: Rs.2.500.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/switch.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Switching devices</b></h5>
        <p class="card-text">(SPST (Single Pole Single throw))<br>Price: Rs.2,200.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/crucial.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Crucial BX500 240GB 3D NAND SSD</b></h5>
        <p class="card-text"> (SATA 2.5-inch SSD (CT240BX500SSD1))<br>Price: Rs.3,500.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/sea.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Seagate Barracuda Q1 SSD 240GB</b></h5>
        <p class="card-text"> (2.5 Inch SATA 6Gb/s (ZA240CV1A001))<br>Price: Rs.5,099.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/wireless.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>TP-LINK TD-W8961N Wireless</b></h5>
        <p class="card-text"> (Wi-Fi Modem Router,2x 5dBi)<br>Price: Rs.2,399.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/link.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>TP-Link AC750 Wireless</b></h5>
        <p class="card-text"> (Portable Mini Travel Router (TL-WR902AC))<br>Price: Rs.2,199.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/velpo.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Linksys Velop WiFi 6 AX 5300</b></h5>
        <p class="card-text"> (Whole-Home WiFi Mesh Network)<br>Price: Rs.39,999.00</p>
    </div>
    </div>
</div>
{% endblock  %}